[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:Quil180/Wallpapers.git
[submodule "users/universal/applications/essentials/neovim"]
	path = users/universal/applications/essentials/neovim
	url = git@github.com:Quil180/neovim.git
